# Ignore everything
*

# Do not ignore directories (so Git can scan them for .c files)
!*/

# Do not ignore .c files
!*.c

# Optional: Do not ignore the .gitignore file itself
!.gitignore

# Do not ignore README file.
!*README.md
!*pithy.txt